.App {
  text-align: center;
  background-image: url(./images/backPokemon2.jpg);
  /* background-image: url(./images/backgroundPokemon.gif); */
  /* background-repeat: no-repeat;  */
  /* background-position: center center; */
}

.Pokemones {
  text-align: center;
}

.container {
  text-align: center;
}

/* /////////// */

.header {
  background: rgba(0, 0, 0, 0.8);
  color: whitesmoke;
  padding: 10px;
}

.pokedex-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 18px;
  padding: 0px 10px 20px 10px;
}

.pokemon-card {
  display: flex;
  box-shadow: 4px 4px 4px rgb(41, 41, 41);
  /* border-radius: 3px; */
  width: 95%;
  margin: 20px;
  background-color: whitesmoke;
}

.pokemon-img {
  width: 80px;
  height: 80px;
  /* margin-right: 10px; */
  padding: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
  flex: 1;
}

.card-info {
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* text-align: center; */
  /* align-items: center; */
}

.pokemon-type-text {
  margin-right: 10px;
  text-transform: capitalize;
  /* border-style: ; */
  background-image: linear-gradient(to right, rgb(183, 67, 179), rgb(226, 226, 61), rgb(97, 151, 222));
  border-radius: 4px;
  margin-top: 5px;
}

.pagination {
  /* background: rgba(0,0,0,0.8);     */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px; */
}

.btn-anterior {
  /* background-color: rgb(79, 79, 175); */
  /* padding: 20px ; */
  border: solid 2px rgb(83, 215, 94);
  background-color: rgb(83, 215, 94);
  border-radius: 5px;
  width: 150px;
  height: 35px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 40px;
}

.btn-anterior:hover {
  background-image: linear-gradient( rgb(53, 188, 60), rgb(118, 149, 123));
  width: 150px;
  height: 35px;
}

.btn-siguiente {
  /* background-color: rgb(79, 79, 175); */
  /* padding: 20px ; */
  border: solid 2px rgb(83, 215, 94);
  background-color: rgb(83, 215, 94);
  border-radius: 5px;
  width: 150px;
  height: 35px;
  cursor: pointer;
  margin-right: 40px;

}

.btn-siguiente:hover {
  background-image: linear-gradient(rgb(118, 149, 123), rgb(53, 188, 60));
  width: 150px;
  height: 35px;
}

.paginas {
  color: rgb(241, 233, 0);
  /* width: 50%; */

}

.search-container {
  display: flex;
  margin: 0px 10px;
  padding: 0;
  align-items: center;
  flex: 1;
  align-items: stretch;
}

.search {
  background: white;
  padding-right: 20px;
  flex: 1;
}

.search input {
  padding: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: outset;
  width: 100%;
  margin-top: 4px;
}

.inputSearch {
  padding: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: solid;
  width: 45%;
  margin-top: 4px;
}

.search input:focus {
  outline: none;
}

.search-btn button {
  background-image: linear-gradient(rgb(127, 37, 113), rgb(135, 32, 89));
  border: none;
  border-radius: 10px;
  height: 100%;
  color: white;
  padding: 10px 12px;
  margin-left: 20px;
}

.search-btn button:hover {
  background-image: linear-gradient(rgb(134, 43, 164), rgb(70, 42, 71));
  border: none;
  border-radius: 10px;
  height: 100%;
  color: white;
  padding: 10px 12px;
  margin-left: 20px;
}

.not-found-text {
  text-align: center;
  color: rgb(97, 212, 30);
  font-size: 1.25rem;
  padding-bottom: 46%;
  /* background: rgba(0,0,0,0.8);     */
}

.not-found-text-pokemon {
  background: rgba(0, 0, 0, 0.8);

}

.container-filter {
  border-radius: '15px';
  height: '35px';
  border: 'solid transparent 0px';
  padding-left: '15px';
  width: '250px';
  background: transparent;
}

.navbar {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: aqua;
  width: auto;
}

.infoPoke, .btn-return {
  background-image: linear-gradient(rgb(90, 86, 91), rgb(162, 162, 162));
  border-radius: 15px;
  margin: 8px;
  padding: 10px;
  width: 80%;
  text-decoration: none;
  color: antiquewhite;
}

.infoPoke:hover, .btn-return:hover {
  background-image: linear-gradient(rgb(169, 48, 209), rgb(70, 42, 71));

}

.infoAlumno {
  /* display: flex; */
  box-shadow: 4px 4px 4px rgb(41, 41, 41);
  /* border-radius: 3px; */
  width: 95%;
  margin: 20px;
  background-color: whitesmoke;
}

.inputPoke {
  border-radius: 10px;
  border: solid blue;
  width: 96%;
  height: 25px;
  text-align: center;
}

.imgNavbar {
  width: 20%;
}

.btn-pokemones,
.btn-about {
  text-decoration: none;
  color: #f2f2f2;
  background-image: linear-gradient(rgb(27, 15, 200), rgb(144, 142, 249));
  padding: 7px;
  border-radius: 12px;
  margin: 12px;
  margin-top: 5px;
}

.btn-pokemones:hover,
.btn-about:hover {
  text-decoration: none;
  color: #f2f2f2;
  background-image: linear-gradient(rgb(255, 238, 0), rgb(148, 139, 2));
  padding: 7px;
  border-radius: 12px;
  margin: 12px;
  margin-top: 5px;
}

.btn-home {
  text-decoration: none;
  color: #f2f2f2;
  background-color:rgb(210, 55, 55);
  padding: 7px;
  border-radius: 12px;
  margin: 12px;
  margin-top: 5px;
}

.btn-home:hover {
  text-decoration: none;
  color: #f2f2f2;
  background-image: linear-gradient(rgb(200, 15, 15), rgb(217, 176, 176));
  padding: 7px;
  border-radius: 12px;
  margin: 12px;
  margin-top: 5px;
}
.btns-navbar {
  padding: 10px;
}

.imgHome {
  width: 100%;

}

.btn-language {
  display: flex;
}

#btn-es,
#btn-en {
  background-color: rgb(36, 36, 36);
  color: #afadad;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  /* margin-right: 20px; */
}

/* #btn-es:hover,
#btn-en:hover {
  background-image: linear-gradient(rgb(224, 36, 36)rgb(157, 157, 152));
  padding: 5px;
  margin: 5px;
} */

.btn-return {

}